<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <h1>Hello Spring</h1>
        <p>회원 기능</p>
        <p>
            <a href="/members/new">회원 가입</a>
            <a href="/members/signIn">로그인</a>

            <!-- spring security 기본 설정 -->
            <a href="/logout">로그아웃</a>

            <a href="/members">회원 목록</a>
        </p>
        <P>
        <!-- 로그인 성공. Role 출력 -->
        <p th:text="${info}"></p>
        </P>
    </div>
</div> <!-- /container -->
</body>
</html>